<div >
  <h1>Tech & Startup News</h1>
  <div>
    <div>
      <a href="/news/{{_id}}"><img src="/assets/fac.png"></a>
      <a href="/news/{{_id}}">{{this.SingleNews.newsTitle}}</a>
      <p>{{this.news.subhead}}</p>
      <a href="/news/{{_id}}">Read More</a>
    </div>

    {{#each news}}
    <div>
      <a href="/news/{{_id}}"><img src="/assets/fac.png"></a>
      <a href="/news/{{_id}}">{{this.news.newsTitle}}</a>
    </div>
    {{/each}}

  </div>
</div>
