<div class="cf ph6 ph6-ns pv6 ml5">
  <div class="fl-ns w-80-ns pr4-ns">
    <h1 class="mb3 mt0 lh-title mid-gray">{{ this.event.eventTitle}}</h1>
    <span class="f6 tracked gray">{{this.event.eventDescription}}</span>
  </div>
  <div class="fn fl-ns w-20-ns pt5">
    <a href="{{this.event.rsvp}}" class="h4 lh-copy ma5 no-underline text-orange f4 pt5">RSVP
    </a>
    <div class="lh-copy pt3">
      <span class="text-granite-gray f4 ">{{this.event.eventDate}}</span>
      <br>
      <span class="text-granite-gray f4 ">{{this.event.eventTime}}</span>
    </div>
  </div>
    <div id="google-map"  class="w-50 fl h-50" data-lat={{latlng.lat}} data-lng={{latlng.lng}} data-title="{{this.event.eventTitle}}">
    </div>
  <div class="dt mw6 dib">
    <div class=" v-top pl3 text-granite-gray">
      <label for="organiser" class="i lh-copy pt5">Organised by</label><br>
      <span id="organiser" class="lh-copy tc">{{this.event.eventOrganiser}}</span>
      <address class="lh-copy pt5 v-btm">{{this.event.eventAddress}}</address>
    </div>
</div>

<script type="text/javascript" src="/map.js"></script>
<script type="text/javascript" src={{{getMapLink}}}></script>
