<div>
  <div>
    <h1>{{this.news.title}}</h1>
    <span>{{this.news.date}}</span>
    <div>
      {{this.news.subHead}}
      <img src="/assets/fac.png">{{this.news.imageCaption}}
      <p>{{this.news.description}}</p>
      <span>{{this.news.author}}</span>
    </div>
  </div>
</div>
