<div>
  <div>
    <h1>{{this.news.newsTitle}}</h1>
    <span>{{this.news.newsDate}}</span>
    <div>
      {{this.news.subhead}}
      <img src="/assets/fac.png">
      <p>{{this.news.newsDescription}}</p>
      <span>{{this.news.author}}</span>
    </div>
  </div>
</div>
