<section>
  <li>
    <div class="">
      <img class="startup_logo" src="./assets/fac.png" alt="">
    </div>
    <h2 class="startup_name">{{this.startupName}}</h2>
    <h2 class="founder_name">{{this.founderName}}</h2>
    <h2 class="phone_number">{{this.phoneNumber}}</h2>
    <h2 class="email">{{this.email}}</h2>
    <h2 class="startup_field">{{this.startupField}}</h2>
    <h2 class="startup_stage">{{this.startupStage}}</h2>
    <a class="websiteLink" href={{this.websiteLink}}></a>
    <a class="facebook" href={{this.facebookLink}}></a>
    <a class="linkedIn" href={{this.linkedinLink}}></a>
    <a class="twitter" href={{this.twitterLink}}></a>
  </li>
  <h2></h2>
</section>
