<div class="w-80 mv4 center">
  <div class="w-100">
    <h2 class="fl-l f1 mh5-l near-black">{{startup.startupName}}</h2>
    <div class="fr-l mv5-l mh5-l mv3">
      <span class="f2 near-black">{{startup.startupSector}}, </span>
      <span class="f2 near-black">{{startup.fundingStage}}</span>
    </div>
  </div>
  <div class=" dib w-100">
    <img class="h5 w5 fl" src="/assets/fac.png" alt="">
    <p class="w-70-l mv4 dib f4 text-granite-gray">{{startup.startupDescription}}</p>
  </div>
  <div class="mv4">
    <div class="fl">
      <span><a class="f3 no-underline text-granite-gray" href={{startup.startupWebsite}}><img src="/assets/link.png">{{startup.startupWebsite}}</a></span>
      <p class="f3 text-granite-gray"><img src="/assets/mail.png">  {{startup.email}}</p>
    </div>
    <div class="dib fr">
      <span class="f3 pr4 pv4 text-granite-gray">Founder: {{startup.founderName}}</span>
        {{#each coFounders}}
          <span class="f3 db text-granite-gray">Co-Founder: {{this}}</span>
        {{/each}}
    </div>
  </div>
</div>
