<div class="">
  <div class="">
    <h2 class="">{{startup.startupName}}</h2>
  </div>
  <div class="">
    <span class="">{{startup.founderName}}</span>
    <span class="">{{startup.phoneNumber}}</span>
    <span class="">{{startup.founderEmail}}</h2>
    <span class="">{{startup.startupField}}</span>
    <div class="">
      <p class="">{{startup.startupDescription}}</p>
    </div>
    <span class="">{{startup.startupStage}}</span>
    <a class="" href={{startup.startupWebsite}}></a>
  </div>
</div>
