<div class="">
  <div class="">
    <h2 class="">{{startup.startupName}}</h2>
    <span class=""> , {{startup.fundingStage}}</span>
    <span class="">{{startup.startupSector}}</span>
  </div>
  <div class="">
    <img class="" src="/assets/fac.png" alt="">
    <p class="">{{startup.startupDescription}}</p>
  </div>
  <div class="">
    <span><a class="" href={{startup.startupWebsite}}><img src="/assets/link.png">{{startup.startupWebsite}}</a></span>
    <p class=""><img src="/assets/mail.png">  {{startup.email}}</p>
    <br>
    <span class="">Founder: {{startup.founderName}}</span>
      {{#each coFounders}}
        <span class="">Co-Founder: {{this}}</span>
      {{/each}}
  </div>
</div>
